# Visual Studio
.vs/
*.user
*.suo

# Build nəticələri
bin/
obj/

# Test nəticələri
[Tt]est[Rr]esult*/

# NuGet
packages/
*.nupkg
/membera-backend/src/services/auth/Membera.Auth.Api/appsettings.Development.json
